:root {
  --primary-90: rgba(8, 66, 152, 1);
  --primary-70: rgba(10, 88, 202, 1);
  --primary-50: rgba(13, 110, 253, 1);
  --primary-30: rgba(61, 139, 253, 1);
  --primary-10: rgba(110, 168, 254, 1);
  --secondary-90: rgba(65, 70, 75, 1);
  --secondary-70: rgba(86, 94, 100, 1);
  --secondary-50: rgba(108, 117, 125, 1);
  --secondary-30: rgba(137, 145, 151, 1);
  --secondary-10: rgba(167, 172, 177, 1);
  --light-90: rgba(149, 149, 150, 1);
  --light-70: rgba(198, 199, 200, 1);
  --light-50: rgba(248, 249, 250, 1);
  --light-30: rgba(249, 250, 251, 1);
  --light-10: rgba(254, 254, 254, 1);
  --warning-90: rgba(153, 116, 4, 1);
  --warning-70: rgba(204, 154, 6, 1);
  --warning-50: rgba(255, 193, 7, 1);
  --warning-30: rgba(255, 205, 57, 1);
  --warning-10: rgba(255, 218, 106, 1);
  --danger-90: rgba(132, 32, 41, 1);
  --danger-70: rgba(176, 42, 55, 1);
  --danger-50: rgba(220, 53, 69, 1);
  --danger-30: rgba(227, 93, 106, 1);
  --danger-10: rgba(234, 134, 143, 1);
  --success-90: rgba(15, 81, 50, 1);
  --success-70: rgba(20, 108, 67, 1);
  --success-50: rgba(25, 135, 84, 1);
  --success-30: rgba(71, 159, 118, 1);
  --success-10: rgba(117, 183, 152, 1);
  --dark-90: rgba(20, 22, 25, 1);
  --dark-70: rgba(26, 30, 33, 1);
  --dark-50: rgba(33, 37, 41, 1);
  --dark-30: rgba(77, 81, 84, 1);
  --dark-10: rgba(122, 124, 127, 1);
  --display-1-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --display-1-semibold-font-weight: 600;
  --display-1-semibold-font-size: 64px;
  --display-1-semibold-letter-spacing: 0.64px;
  --display-1-semibold-line-height: normal;
  --display-1-semibold-font-style: normal;
  --display-1-medium-font-family: "Poppins-Medium", Helvetica;
  --display-1-medium-font-weight: 500;
  --display-1-medium-font-size: 64px;
  --display-1-medium-letter-spacing: 0.64px;
  --display-1-medium-line-height: normal;
  --display-1-medium-font-style: normal;
  --display-2-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --display-2-semibold-font-weight: 600;
  --display-2-semibold-font-size: 56px;
  --display-2-semibold-letter-spacing: 0.56px;
  --display-2-semibold-line-height: normal;
  --display-2-semibold-font-style: normal;
  --display-2-medium-font-family: "Poppins-Medium", Helvetica;
  --display-2-medium-font-weight: 500;
  --display-2-medium-font-size: 56px;
  --display-2-medium-letter-spacing: 0.56px;
  --display-2-medium-line-height: normal;
  --display-2-medium-font-style: normal;
  --display-3-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --display-3-semibold-font-weight: 600;
  --display-3-semibold-font-size: 48px;
  --display-3-semibold-letter-spacing: 0.48px;
  --display-3-semibold-line-height: normal;
  --display-3-semibold-font-style: normal;
  --display-3-medium-font-family: "Poppins-Medium", Helvetica;
  --display-3-medium-font-weight: 500;
  --display-3-medium-font-size: 48px;
  --display-3-medium-letter-spacing: 0.48px;
  --display-3-medium-line-height: normal;
  --display-3-medium-font-style: normal;
  --display-4-medium-font-family: "Poppins-Medium", Helvetica;
  --display-4-medium-font-weight: 500;
  --display-4-medium-font-size: 40px;
  --display-4-medium-letter-spacing: 0.4px;
  --display-4-medium-line-height: normal;
  --display-4-medium-font-style: normal;
  --display-4-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --display-4-semibold-font-weight: 600;
  --display-4-semibold-font-size: 40px;
  --display-4-semibold-letter-spacing: 0.4px;
  --display-4-semibold-line-height: normal;
  --display-4-semibold-font-style: normal;
  --h1-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --h1-semibold-font-weight: 600;
  --h1-semibold-font-size: 32px;
  --h1-semibold-letter-spacing: 0.32px;
  --h1-semibold-line-height: normal;
  --h1-semibold-font-style: normal;
  --h1-medium-font-family: "Poppins-Medium", Helvetica;
  --h1-medium-font-weight: 500;
  --h1-medium-font-size: 32px;
  --h1-medium-letter-spacing: 0.32px;
  --h1-medium-line-height: normal;
  --h1-medium-font-style: normal;
  --h6-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --h6-semibold-font-weight: 600;
  --h6-semibold-font-size: 12px;
  --h6-semibold-letter-spacing: 0.12px;
  --h6-semibold-line-height: normal;
  --h6-semibold-font-style: normal;
  --h6-medium-font-family: "Poppins-Medium", Helvetica;
  --h6-medium-font-weight: 500;
  --h6-medium-font-size: 12px;
  --h6-medium-letter-spacing: 0.12px;
  --h6-medium-line-height: normal;
  --h6-medium-font-style: normal;
  --h5-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --h5-semibold-font-weight: 600;
  --h5-semibold-font-size: 14px;
  --h5-semibold-letter-spacing: 0.14px;
  --h5-semibold-line-height: normal;
  --h5-semibold-font-style: normal;
  --h5-medium-font-family: "Poppins-Medium", Helvetica;
  --h5-medium-font-weight: 500;
  --h5-medium-font-size: 14px;
  --h5-medium-letter-spacing: 0.14px;
  --h5-medium-line-height: normal;
  --h5-medium-font-style: normal;
  --h4-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --h4-semibold-font-weight: 600;
  --h4-semibold-font-size: 16px;
  --h4-semibold-letter-spacing: 0.16px;
  --h4-semibold-line-height: normal;
  --h4-semibold-font-style: normal;
  --h4-medium-font-family: "Poppins-Medium", Helvetica;
  --h4-medium-font-weight: 500;
  --h4-medium-font-size: 16px;
  --h4-medium-letter-spacing: 0.16px;
  --h4-medium-line-height: normal;
  --h4-medium-font-style: normal;
  --h3-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --h3-semibold-font-weight: 600;
  --h3-semibold-font-size: 18px;
  --h3-semibold-letter-spacing: 0.18px;
  --h3-semibold-line-height: normal;
  --h3-semibold-font-style: normal;
  --h3-medium-font-family: "Poppins-Medium", Helvetica;
  --h3-medium-font-weight: 500;
  --h3-medium-font-size: 18px;
  --h3-medium-letter-spacing: 0.18px;
  --h3-medium-line-height: normal;
  --h3-medium-font-style: normal;
  --h2-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --h2-semibold-font-weight: 600;
  --h2-semibold-font-size: 24px;
  --h2-semibold-letter-spacing: 0.24px;
  --h2-semibold-line-height: normal;
  --h2-semibold-font-style: normal;
  --h2-medium-font-family: "Poppins-Medium", Helvetica;
  --h2-medium-font-weight: 500;
  --h2-medium-font-size: 24px;
  --h2-medium-letter-spacing: 0.24px;
  --h2-medium-line-height: normal;
  --h2-medium-font-style: normal;
  --body-1-regular-font-family: "Poppins-Regular", Helvetica;
  --body-1-regular-font-weight: 400;
  --body-1-regular-font-size: 16px;
  --body-1-regular-letter-spacing: 0.16px;
  --body-1-regular-line-height: normal;
  --body-1-regular-font-style: normal;
  --body-1-medium-font-family: "Poppins-Medium", Helvetica;
  --body-1-medium-font-weight: 500;
  --body-1-medium-font-size: 16px;
  --body-1-medium-letter-spacing: 0.16px;
  --body-1-medium-line-height: normal;
  --body-1-medium-font-style: normal;
  --body-1-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --body-1-semibold-font-weight: 600;
  --body-1-semibold-font-size: 16px;
  --body-1-semibold-letter-spacing: 0.16px;
  --body-1-semibold-line-height: normal;
  --body-1-semibold-font-style: normal;
  --body-2-regular-font-family: "Poppins-Regular", Helvetica;
  --body-2-regular-font-weight: 400;
  --body-2-regular-font-size: 14px;
  --body-2-regular-letter-spacing: 0.14px;
  --body-2-regular-line-height: normal;
  --body-2-regular-font-style: normal;
  --body-2-medium-font-family: "Poppins-Medium", Helvetica;
  --body-2-medium-font-weight: 500;
  --body-2-medium-font-size: 14px;
  --body-2-medium-letter-spacing: 0.14px;
  --body-2-medium-line-height: normal;
  --body-2-medium-font-style: normal;
  --body-2-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --body-2-semibold-font-weight: 600;
  --body-2-semibold-font-size: 14px;
  --body-2-semibold-letter-spacing: 0.14px;
  --body-2-semibold-line-height: normal;
  --body-2-semibold-font-style: normal;
  --body-3-regular-font-family: "Poppins-Regular", Helvetica;
  --body-3-regular-font-weight: 400;
  --body-3-regular-font-size: 12px;
  --body-3-regular-letter-spacing: 0.6px;
  --body-3-regular-line-height: normal;
  --body-3-regular-font-style: normal;
  --body-3-medium-font-family: "Poppins-Medium", Helvetica;
  --body-3-medium-font-weight: 500;
  --body-3-medium-font-size: 12px;
  --body-3-medium-letter-spacing: 0.6px;
  --body-3-medium-line-height: normal;
  --body-3-medium-font-style: normal;
  --body-3-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --body-3-semibold-font-weight: 600;
  --body-3-semibold-font-size: 12px;
  --body-3-semibold-letter-spacing: 0.6px;
  --body-3-semibold-line-height: normal;
  --body-3-semibold-font-style: normal;
  --body-4-regular-font-family: "Poppins-Regular", Helvetica;
  --body-4-regular-font-weight: 400;
  --body-4-regular-font-size: 10px;
  --body-4-regular-letter-spacing: 0.5px;
  --body-4-regular-line-height: normal;
  --body-4-regular-font-style: normal;
  --body-4-medium-font-family: "Poppins-Medium", Helvetica;
  --body-4-medium-font-weight: 500;
  --body-4-medium-font-size: 10px;
  --body-4-medium-letter-spacing: 0.5px;
  --body-4-medium-line-height: normal;
  --body-4-medium-font-style: normal;
  --body-4-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --body-4-semibold-font-weight: 600;
  --body-4-semibold-font-size: 10px;
  --body-4-semibold-letter-spacing: 0.5px;
  --body-4-semibold-line-height: normal;
  --body-4-semibold-font-style: normal;
  --heading-m-font-family: "Poppins-Medium", Helvetica;
  --heading-m-font-weight: 500;
  --heading-m-font-size: 18px;
  --heading-m-letter-spacing: 0.18px;
  --heading-m-line-height: 32px;
  --heading-m-font-style: normal;
  --shadow-sm: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  --shadow-base: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  --shadow-md: 0px 2px 4px -1px rgba(0, 0, 0, 0.06), 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0px 10px 10px -5px rgba(0, 0, 0, 0.04), 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
  --shadow-2xl: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
  --shadow-inner: ;
}
